* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7e0054;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bf1d1d40;
    border-radius: 12px;
    border: solid 1px #bf1d1d80;
    width: 100%;
    max-width: 1366px;
    margin: 8px auto;
    padding: 0px 32px;
    overflow: hidden;
}

nav h1 {
    color: #fff;
    font-style: italic;
    font-family: monospace;
}

nav div {
    width: 510px;
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: transparent;
    color: #ffffffbf;
    border: 1px solid #ffffff00;
    font-size: 14px;
    padding: 20px 0px;
    width: 85px;
    font-family: montserrat;
}

button:hover {
    background: linear-gradient(0deg, #bf1d1d80, #bf431d00);
    color: #fff;
    border-bottom: 1px solid;
    border-top: none;
}

div#root {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.categorias-container {
    display: flex;
    justify-content: space-evenly;
}

.pantalla {
    color: #fff
}

.c-buscador {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
}

.c-lista-producto {
  background-color: #bf1d1d20;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.c-lista-producto:hover {
  background-color: #bf1d1d60;
}